<h3>新的</h3>
<nz-transfer [nzDataSource]="allbureauData" nzShowSearch [nzOperations]="['选择', '去除']"

  [nzListStyle]="{ 'width.px': 350, 'height.px': 500 }" [nzRender]="render" [nzFooter]="footer"
  [nzTitles]="['备选', '选中']" (nzSelectChange)="select($event)" (nzChange)="change($event)">
  <ng-template #render let-item> {{ item.title }}-{{ item.description }} </ng-template>
  <ng-template #footer let-direction>
    <button nz-button (click)="reload(direction)" [nzSize]="'small'" style="float: right; margin: 5px;">
      保存
    </button>
  </ng-template>
</nz-transfer>



<div>
  <button nz-button nzType="primary" (click)="showModal()">Save</button>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Modal"
    nzOkText="确定"
    nzCancelText="取消"
    (nzOnOk)="submitQuery()"
    (nzOnCancel)="handleCancel()"
  >
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <br>
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <br>
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>


  </nz-modal>
</div>
