
<div nz-row>
    <div nz-col nzSpan="2" nzOffset="5">
        <label nz-checkbox [(ngModel)]="haveUpper">大写字母</label> &nbsp;
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
        <label nz-checkbox [(ngModel)]="haveLower">小写字母</label> &nbsp;
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
        <label nz-checkbox [(ngModel)]="haveNum">数字</label> &nbsp;
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
        <label nz-checkbox [(ngModel)]="haveSpe">特殊字符</label> &nbsp;
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
        <nz-input-number [(ngModel)]="passwordLength" [nzMin]="4" [nzMax]="40" [nzStep]="1"></nz-input-number>
        
    </div>
   
</div>
<br>
<div nz-row>
    <div nz-col nzSpan="11" nzOffset="5">
        <input type="text" nzSize="small"  nz-input [(ngModel)]="passwordoutput" />
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
        <button nz-button nzSize="small" nzType="primary" (click)="generator(passwordLength)" > &nbsp; 生 成 &nbsp; </button>
    </div>
</div>