<nz-descriptions nzTitle="类目信息">
  <nz-descriptions-item nzTitle="名称">{{bname}}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="创建时间">{{createtime}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="更新时间">{{updatetime}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="更新人">{{updateperson}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="备注">
    {{descb}}
  </nz-descriptions-item>
</nz-descriptions>

<br>
<br>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzFrontPagination] = 'false'>
  <thead>
    <tr>
      <th nzCustomFilter>
        名称
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>类别</th>
      <th>领导</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>