<div nz-row>
    <div nz-col nzSpan="4" nzOffset="4">
        <h2>内容：</h2>
         
    </div>
    <div nz-col nzSpan="1" nzOffset="10">
        <h3>分隔符</h3>
    </div>
    <div nz-col nzSpan="1" >
        <input type="text" nz-input [(ngModel)]="seperator" />
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="16" nzOffset="4">
        <textarea rows="4" nz-input [(ngModel)]="content"></textarea>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="16" nzOffset="4">
        <nz-button-group>
            <button nz-button nzType="primary" (click)="dulremover()"><i nz-icon nzType="diff" nzTheme="fill"></i>去 &nbsp; 重</button>
            <button nz-button nzType="primary" (click)="count()"><i nz-icon nzType="block" ></i>数 &nbsp; 量</button>
        </nz-button-group>
    </div>
  </div>

  <br>
  <br>
  


  <div *ngIf="isCounter == false">
    <div nz-row>
      <div nz-col nzSpan='2' nzOffset="4" >
        <h3>共 {{countNumber}} 项</h3>
        <hr>
      </div>
    </div>
    <div nz-row >
      <div nz-col nzSpan="16" nzOffset="4">
          
          <span *ngFor="let item of dulcontent">{{item}}、</span>
      </div>
    </div>
  </div>
  



  <div *ngIf="isCounter == true">
    <div nz-row>
      <div nz-col nzSpan="2" nzOffset="4">
        <h3>共 {{countNumber}} 项</h3>
        <hr>
      </div>
    </div>
    <div nz-row >
      <div nz-col nzSpan="16" nzOffset="4">
          <p *ngFor="let item of counterresult">{{item.item}} &nbsp; &nbsp; {{item.times}}</p>
      </div>
    </div>
  </div>
 
