
<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4">
    <h3>新的</h3>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="title" placeholder="通讯录名称" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="reddit">
            <input type="text" nz-input formControlName="creator" placeholder="创建人" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="calendar">
            <input type="text" nz-input formControlName="effectiveYear" placeholder="有效至X年" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> 创 &nbsp; 建 </button>
    </form>
  </div>
</div>
