<h2>发 文 管 理</h2>
<div nz-row>


    <div nz-col nzSpan="2" nzOffset="14">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择年份" [(ngModel)]="selectedYear">
        <nz-option *ngFor="let year of listOfYear" [nzLabel]="year" [nzValue]="year"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="2" nzOffset="1">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择标签" [(ngModel)]="selectedTag">
        <nz-option *ngFor="let tag of listOfTag" [nzLabel]="tag.name" [nzValue]="tag.id"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="4" nzOffset="1">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="名称搜索" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>

    </div>
    
</div>
<nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
    <nz-list-item *ngFor="let item of list">
      <ng-container *ngIf="!item.loading">
        <nz-list-item-meta
          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          [nzDescription]="item.title"
        >
          <nz-list-item-meta-title>
            {{ item.maintainer }}
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        {{item.code}}
        <ul nz-list-item-actions>
          <nz-list-item-action><a [href]="item.uri">下载</a></nz-list-item-action>
        </ul>
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="edit(item)">更新</a></nz-list-item-action>
        </ul>
      </ng-container>
      <nz-skeleton *ngIf="item.loading" [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true"> </nz-skeleton>
    </nz-list-item>
    <div class="loadmore" nz-list-load-more>
      <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()"> 加 载 更 多 </button>
    </div>
  </nz-list>

  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
    <p>Content three</p>
  </nz-modal>